@import '../App.css';

header {
  background-color: var(--pal1);
  padding: 20px;
  text-align: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.notes-header {
  color: var(--pal4);
}

body {
  height: 1000px;
}
