@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --pal1: #789395;
  --pal2: #94b49f;
  --pal3: #b4cfb0;
  --pal4: #e5e3c9;
  --pal5: #d82148;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #e9e8eb;
}

.card {
  border-radius: 8px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}

.btn {
  min-width: 44px;
  min-height: 44px;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
  margin: 0 5px;
}

.btn-primary {
  background-color: var(--pal2);
}

.btn-primary:hover {
  background-color: #728c7b;
}

.btn-danger {
  background-color: var(--pal5);
}

.btn-danger:hover {
  background-color: #bb1d3f;
}

.btn-add {
  position: fixed;
  bottom: 35px;
  right: 35px;
  font-weight: 400;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: var(--pal4);
  background-color: var(--pal1);
}
